# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Structural Geology Cookbook
email: #your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  This is the web site of the Structural Geology's repository where me and the
  collaborators upload files like scripts and Jupyter notebooks that are somehow
  important for who is analysing geologic structures cased by brittle deformation
  such as tectonic faults and natural fractures.
baseurl: "/structural-geology"
url: "http://gcmatos.github.io/structural-geology"
twitter_username: __gcmatos__
github_username:  gcmatos

# Build settings
markdown: kramdown
theme: minima
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
